[submodule "ds006191"]
	path = sourcedata/ds006191
	url = https://github.com/OpenNeuroDatasets/ds006191.git
[submodule "ds006189"]
	path = sourcedata/ds006189
	url = https://github.com/OpenNeuroDatasets/ds006189.git
[submodule "ds006185"]
	path = sourcedata/ds006185
	url = https://github.com/OpenNeuroDatasets/ds006185.git
[submodule "ds006131"]
	path = sourcedata/ds006131
	url = https://github.com/OpenNeuroDatasets/ds006131.git
[submodule "ds006192"]
	path = derivatives/xcp_d-0.10.6
	url = https://github.com/OpenNeuroDatasets/ds006192.git
